* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #383636;
}

input {
    border: none;
    outline: none;
}

.container {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1024px;
    margin: 10px auto;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 536px;
    background-image: url(../image/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logo {
    width: 536px;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 222px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 96px;
    height: 128px;
}

.logo-name{
    font-family: Norse-Bold, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}

.content {
    background-color: #f9fafb;
    flex: 1;
    height: 100%;
}

.header {
    margin: 170px 186px 0 46px;
}

.header p {
    font-size: 2.2rem;
    font-weight: 600;
}

.para-3 {
    margin-top: 22px;
    margin-bottom: 66px;
}

.form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 46px;
}

.form .title {
    font-size: 2.2rem;
    padding: 12px 0;
}

.form-area {
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-right: 70px;
    margin-bottom: 18px;
}

.form-control label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-control .notice {
    margin-top: 4px;
    height: 1.4rem;
    color: #f94848;
    font-size: 1.2rem;
    font-weight: 500;
}

.form-input {
    height: 32px;
    width: 260px;
    padding: 4px 8px;
    border: 1px solid #ede7e7;
    border-radius: 4px;
}

.form-input:focus {
    border: 1px solid #6671e9;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.footer {
    padding-left: 46px;
    padding-top: 36px;
}

.submit {
    width: 234px;
    height: 50px;
    margin-bottom: 38px;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #596d48;
    cursor: pointer;
}

.submit:hover {
    opacity: 0.7;
}

.text-des {
    font-size: 1.8rem;
}

.text-des a {
    text-decoration: none;
    color: #596d48;
}